@media (max-width: 1024px) and (orientation: portrait) {
    .main-navigation {
        flex-direction: column;
    }
}

@media (max-width: 915px) and (orientation: landscape) {
    .main-nav {
        flex-direction: column;
    }
}
:root{
    --cor0: #fafafa;
    --cor1: #608aff;
    --cor2: #00f7ff;
    --cor3: #00c3ff;
    --cor4: #1f6774;
    --cor5: #001535;
    --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif;
    --fonte-destaque: Arial;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

header {
    height: 120px;
    text-align: center;
    background-color: var(--cor5);
    padding-top: 40px;
    box-shadow: 0px 0px 10px black;
}

header > p{
    color: #ffffff;
    font-size: 1.2em;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 20%;
}


header > h3 {
    color: var(--cor0);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
    padding-left: 50rem;
    padding-right: 50rem;
    height: 100%;
}
/*ESTILO BARRA DE NAVEGAÇÃO*/
nav{
    background-color: var(--cor5);
    padding: 10px;
    color: var(--cor0);
    justify-content: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
/*ESTILO LI*/
li { 
    letter-spacing: 3px;
    margin: auto;
    padding: 10px;
    display: inline;
    text-decoration: none;
}

li:hover {
    background-color: var(--cor2);
    color: #00c3ff;
}

main {
    min-width: 500px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border-radius: 0px 0px 15px 15px;
    background-color: var(--cor1);
}

main p {
    text-align: justify;
    line-height: 1.5em;
    font-size: large;
    margin: 15px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}
body{
    background-image: url(bg-body/top-view-person-writing-laptop-with-copy-space.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
main h2 {
    font-family: Arial, Helvetica, sans-serif;
}

/* DIV VIDEO */
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

div.video {
position: relative;
padding: 20px;
padding-bottom: 54%;
margin-bottom: 0px -20px 30px -20px;
}
.png {  
   width:100%;
   padding-left: 0rem;
   padding-right: 100rem;
   height: 100%;
}
footer {
    text-align: center;
}